<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>IP地址查询</title>
    <style type="text/css"><!--{% include "ipinfo.css" %}--></style>
    <script language="javascript"><!--{% include "ipinfo.js" %}--></script>
  </head>

  <body>

    {% include "header.html" %}

    <h2><a href="/">IP地址查询</a></h2>
    
    <div class="query_box">
      
      <div class="ip_client">
        您的IP是： {{ ip_client_string }}
        <a href="/ip/{{ip_client_string}}">直接查询</a>
      </div>
      
      <h3>请在下面输入您要查询的IP或域名</h3>
      <form onsubmit="return check_and_go();" action="#">
      IP地址：
      <input type="text" id="query_box_ip" maxlength="64" onmouseover="this.select()"/>
      <a href="#" onclick="return check_and_go();">查询</a>
      </form>
      <div id="query_box_error_msg" class="error_msg"></div>

    </div>

    <p/>

    {% if ip_string != None %}
    <div class="ipinfo_data">
      <table cellspacing="6px" border="0px">
        <caption>{{ ip_string }}</caption>
        <!--thead>
          <tr><th>IP</th><th>信息</th></tr>
        </thead-->
        {% for info in ip_infos %}
        <tr>
          <td style="text-align:right">数据{% cycle '一' '二' '三' '四' '五' %}：</td>
          <td>{{info.province}} {{info.city}} {{info.isp}}</td>
        </tr>
        {% empty %}
        <tr><td style="text-align:center;color:red">抱歉，没有结果。</td></tr>
        {% endfor %}
      </table>
        <!-- TODO: 修正结果入口 -->
    </div>
    {% else %}
    <br/>
    <br/>
    <br/>
    {% endif %}

    <p/>

    {% if new_query_history != None %}
    <div class="query_history">
      <!--h4>您的历史查询记录</h4> <a href='#' onclick=''>清空</a-->
      <!--ul>
        {% for ip,loc in new_query_history %}
        <li>{{ ip }} {{ loc|default:'无结果' }}</li>
        {% endfor %}
      </ul-->
      <table rules="groups" frame="hsides" cellspacing="0" cellpadding="6" border="2">
        <caption>您最近几条查询记录</caption>
        <thead>
          <tr><th>IP</th><th>信息</th></tr>
        </thead>
        {% for ip,loc in new_query_history %}
        <tr>
          <td>{{ ip }}</td>
          <td>{{ loc|default:'无' }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}

    {% include "footer.html" %}

  </body>
</html>
