<!-- -*-coding:utf-8-*- -->

<div class="page_nav">

  {% if page > 1 %}
  <a title="到最前一页" href="/{{city}}/category/{{category}}/page/1/"><<最前</a>
  {% else %}
  <<最前
  {% endif %}

  {% if prev_page != 0 and prev_page >= 1 %}
  <a title="到前一页" href="/{{city}}/category/{{category}}/page/{{prev_page}}/"><前</a>
  {% else %}
  <前
  {% endif %}

  第{{page}}页 共{{max_page}}页 共{{total}}条

  {% if next_page != 0 and next_page <= max_page %}
  <a title="到后一页" href="/{{city}}/category/{{category}}/page/{{next_page}}/">后></a>
  {% else %}
  后>
  {% endif %}

  {% if page < max_page %}
  <a title="到最后一页" href="/{{city}}/category/{{category}}/page/{{max_page}}/"><最后>></a>
  {% else %}
  最后>>
  {% endif %}


</div>
