/* -*-coding:utf-8-*- */


body {
    color:#3E3E3E;
    font:12px/20px Verdana,Arial;
}

div, ul, ol, li, , h1, h2, h3, h4, h5, h6, p
{
    margin: 0;
    padding: 0;
}

fieldset, img, button, input
{
    border:0 none;
}

.deallist
{
    margin: 0;
    background-color: #DDEDCC;
}

ul, ol {
    list-style:none outside none;
}
.list
{
//    width: 758px;
}

.list li
{
    background-color:#F9F9F9;
    border-top:1px solid #E7E7E7;
    height:180px;
    margin:0 10px 10px;
    padding:8px;
}


.deal
{
    width: 758px;
}

.deal a:link, a:visited
{
    text-decoration:none;
}

.deal .image
{
    display: inline;
    float: left;
    height: 175px;
    overflow: hidden;
}

.deal .info
{
    display: inline;
    float: left;
    height: 180px;
    overflow: hidden;
}

.deal .info
{
    margin-left: 15px;
    background-color: transparent;
    font-size: 12px;
    width: 450px;
}

.deal .info h4
{
    margin-top: -5px;
    font-size:14px;
//    height:30px;
    line-height:25px;
//    overflow: hidden;
//    white-space:pre-wrap;//nowrap;
    border-bottom: 1px solid #E4E4E4;
}

.deal .info a:hover, a:active
{
    text-decoration:underline;
}

.deal .info a
{
    color:#325E7F;
}

.deal .info .p_1
{
    height: 12px;
    line-height: 6px;
    margin:10px 0 5px;
}

.deal .info .p_1 .site
{
    color: #D80000 !important;
    font-size: 16px;
}


.deal .info .p_1 .site a
{
    color: #D80000;
}


.deal .info .p_2
{
    height:20px;
    margin-bottom:12px;
    overflow:hidden;
}

.deal .info .p_2 span
{
    display:inline;
    float:left;
    width:108px;
}

.deal .info .p_2 em
{
    font-family:"arial";
    font-size:16px;
    font-style:normal;
}


.deal .info .p_2 .price
{
    font-weight: bold;
    color:#D80000 !important;
}

.deal .info .p_2 .value
{
}

.deal .info .p_2 .saving, .rebate
{
    color:#D80000 !important;
}

.deal .info .p_3
{
    line-height: 10px;
}

.deal .info .p_3 .site_name
{
    font-weight: bold;
    color:#D80000;
}

.deal .info .p_3 .site_name a
{
    color:#D80000;
}


.site_list
{
    display: block;
}

.site_item
{
    float: left;
    height: 24px;
    overflow: hidden;
    padding: 0px 15px 12px 0px
    text-align: left;
    width: 85px;
}






